@import '../styles/variables';

body, html {
  background: $light-grey;
}

.main-container {
  padding-bottom: $content-padding-bottom;
  padding-top: $content-padding-top;
}

.is-hidden {
  display: none;
}


.has-light-bg {
  background-color: $white;
}

.button.is-primary.is-inverted.is-text {
  background-color: transparent;
}