@import '../styles/variables';

body, html {
  background: $light-grey;
}

.main-container {
  padding-bottom: $content-padding-bottom;
  padding-top: $content-padding-top;
}

.is-hidden {
  display: none;
}

.is-horizontally-centered {
  display: flex;
  justify-content: center;
}

.has-padding-top {
  padding: $view-padding-top;
}

.has-light-bg {
  background-color: $white;
}

.has-text-secondary {
  color: $secondary !important;
}

.button.is-primary.is-inverted.is-text {
  background-color: transparent;
}