// COLORS
$primary: #3f4fa6;
$secondary: #dd3c55;
$light: #fff;
$primary-darker: #4051a9;
$primary-lighter: #4051a9;
$green: #0a9025;
$yellow: #e3dc54;
$blue: #1d7faa;

$subtext: #999;
// $primary-invert: #B8B1CD;

// NAV
$nav-text: $light;
$nav-text-hover: $secondary;
$nav-bg: $primary;
$nav-bg-hover: $primary-darker;
$nav-height: 3.7rem;

// CONTENT
$content-margin-left: 0;
$content-padding-bottom: 4rem;

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";
@import "node_modules/bulma/sass/utilities/derived-variables";
